.custom-main-home {
  display: flex;
  background-color: black;
  min-height: 700px;
  gap: 1rem;
}
.characters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.characters-section {
  background-image: url("../../public/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
